body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #239346
}

a {
	text-decoration: none;
}

nav > a {
	float: right;
	color: black;
	background-color: white;
	padding: 10px;
	border-radius: 25px;
	font-weight: bold;
}

nav {
	background-color: red;
	text-align: center;
	margin: -10px;
	padding: 20px;
	border-bottom: 5px solid white;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


.hide {
	opacity: 0;
	animation-name: show;
	animation-duration: .25s;
	animation-fill-mode: forwards;
	animation-play-state: paused;
}

.toast {
	padding: 10px;
	top: 50%;
	left: 40%;
	z-index: 1;
	position: fixed;
	width: 80%;
	margin: 10%;
	background-color: lightgrey;
	border: 2px solid black;
	border-radius: 5px;
	visibility: hidden;
	transform: translate(-50%, -50%);
}

.close {
	position: absolute;
	top: -10px;
	right: 5px;
	font-size: 50px;
	color: white;
	cursor: pointer;
}

#pizza {
	position: relative;
}

.select:hover {
	background-color:#f5f5f5;
}

.select {
	cursor: pointer;
}


.wrapper {
	display: flex;
}

.right_menu {
	flex: 0 0 65%;
}

.left_menu {
	flex: 1;
}

.center {
	text-align: center;
}

.title {
	display: inline;
	text-align: center;
	font-size: xx-large;
	font-weight: bold;
	color: white;
}

.message {
	font-weight: bold;
	margin: 10px;
}

.field {
	border: none;
	padding: 5px;
	background-color: lightgrey;
	border-radius: 25px;
	margin: 5px;
}

.btn {
	border: none;
    font-size: medium;
    background-color: red;
    color: white;
    padding: 10px;
    margin-top: 5px;
    border-radius: 25px;
    cursor: pointer;
}

.container {
	margin: 5% 25% 5% 25%;
	border-radius: 25px;
	padding: 10px 10px 40px 20px;
	background-color: white;
	border: 5px solid red;
	text-align: center;
}

.pk {
	display: none;
}

.cart {
	margin-right: 5px;
}

#cart {
	border-radius: 25px;
	background-color: white;
	padding: 5px 25px 25px 25px;
}