{%extends "orders/layout.html"%}



{%block body%}
<nav>
	<p class="title">Pinochio's Pizza & Subs</p>
	<a class="logout" href="{%url 'logout'%}">Logout</a>
</nav>
<h1 class="center">View the menu and make your orders below!</h1>
<div id="pizza">
	<h3 class="center">Pizza</h3>
	<table class="menu">
		<tr>
			<th>Style</th>
			<th>Number of Toppings</th>
			<th>Size</th>
			<th>Price</th>
		</tr>
		{%for p in pizzas%}
		<tr class="select">
			<td>{{p.style}}</td>
			<td>{{p.num_toppings}}</td>
			<td>{{p.size}}</td>
			<td>{{p.price|floatformat:2}}</td>
		</tr>
		{%endfor%}
	</table>
</div>
<div id="sub">
	<h3 class="center">Subs</h3>
	<table class="menu">
		<tr>
			<th>Style</th>
			<th>Size</th>
			<th>Price</th>
		</tr>
		{%for s in subs%}
		<tr class="sel">
			<td>{{s.style}}</td>
			<td>{{s.size}}</td>
			<td>{{s.price|floatformat:2}}</td>
		<tr>
		{%endfor%}
	</table>
</div>

<div class="toast">
	<span class="close">&times;</span>
	<h1 class="item center"></h1>
	<form id="item" method="post" action="#">
		<h4 class="center">Select your toppings</h4>
		{%for t in toppings%}
			<input class="top" type="checkbox" name="{{t}}" value="{{t}}">{{t}}<br>
		{%endfor%}
		
	</form>
	<form id="extras" method="post" action="#">
		<h4 class="center">Select Extras (+$.50)</h4>
		<input class="xtra" type="checkbox" name="cheese" value="cheese">Extra Cheese<br>
		<input class="xtra" type="checkbox" name="mushroom" value="mushroom">Extra Mushrooms<br>
		<input class="xtra" type="checkbox" name="green_pepper" value="green_pepper">Extra Green Peppers<br>
		<input class="xtra" type="checkbox" name="onion" value="onion">Extra Onions<br>
	</form>
	<hr>
	<strong>Total: </strong>$<span class="price"></span>
	<button form="item" class="btn" id="submit">Add to Order</button>
</div>
{%endblock%}